@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color:#FF6B6B;
    --text-color:#555;
    --heading-color:#222;
    --light-gray:#f8f8f8;
    --border-color:#eee;
    --white-color:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josh', sans-serif;
}

body{
    color:var(--text-color);
    line-height:1.6;
}
a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}
h1,h2,h3{
    color:var(--heading-color);
    font-weight: 600;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color:var(--white-color);
    padding:12px 30px;
    border-radius: 5px;
    font-weight:500;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #e65c5c;
}

.top-bar{
    background-color:var(--light-gray);
    padding:10px;
    font-size:0.9rem;
    text-align: center;
}

.top-bar a{
    color:var(--primary-color);
    font-weight:600;
}

.main-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.logo a{
    font-size:1.5rem;
    font-weight:700;
    color:var(--heading-color);
}
ul{
    display: flex;
    gap: 20px;
}

li a{
    font-weight: 500;
    padding-bottom: 2px;
    transition: border-bottom 0.3s ease;
}
li a:hover{
    border-bottom: 2px solid var(--primary-color);
}

.nav-icons{
    display: flex;
    gap: 15px;
}

.nav-icons a{
    font-size:1.2rem;
    color:var(--heading-color);
    position: relative;
}
 .cart-count{
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
 }



 .hero{
    background-color: --var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 5%;
    min-height: 500px;
    gap: 30px;
 }

 .hero-content h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
 }

 .hero-content p{
    margin-bottom: 20px;
    font-size: 1.1rem;

 }

 .hero-content img{
    max-width: 100%;
    height: auto;
 }

 .features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 5%;
    border-bottom: 1px solid var(--border-color);
    gap: 20px;
    margin-bottom: 20px;
 }

 .feature-item{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 250px;
 }

 .feature-item i{
    font-size: 2rem;
    color: var(--primary-color);
 }
 .feature-item p{
    font-size: 1rem;
 }
 .feature-item h3{
    font-size: 1rem;
 }

.categories{
   padding: 80px 5%; 
}

.categories h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.category-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 30px;
    text-align: center;
}

.category-item{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}
.category-item:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}
.category-item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.category-item h3{
    font-size: 1.1rem;
    font-weight: 600;
}
